.main-bg {
	-fx-background-color: #2f3136;
}
.section-bg {
	-fx-background-color: #2a2c32;
	-fx-background-radius: 4px;
}
.top-nav {
	-fx-background-color: #2a2c32;
}

.nav-button {
	-fx-background-color: transparent;
	-fx-font-size: 16px;
	-fx-text-fill: rgba(127, 135, 150, 0.3);
}
.nav-button-on {
	-fx-text-fill: rgba(127, 135, 150, 1);
}

.input {
	-fx-background-color: #7f8796;
	-fx-background-radius: 4px;
	-fx-text-fill: #2f3136;
	-fx-font-size: 16px;
}

.button {
	-fx-font-size: 16px;
	-fx-background-radius: 4px;
	-fx-cursor: hand;
}

.button:pressed {
	-fx-scale-y: 0.95;
	-fx-scale-x: 0.95;
}
.button-normal {
	-fx-background-color: rgba(64, 186, 255, 0.7);
}
.button-normal:hover {
	-fx-background-color: rgba(64, 186, 255, 1);
}
.button-danger {
	-fx-background-color: rgba(255, 64, 87, 0.7);
}
.button-danger:hover {
	-fx-background-color: rgba(255, 64, 87, 1);
}
.button-tab {
	-fx-background-color: rgba(64, 186, 255, 0.2);
	-fx-background-radius: 20px;
	-fx-text-fill: rgba(218, 218, 218, 0.5);
	-fx-font-size: 12px;
}
.button-tab:hover {
	-fx-background-color: rgba(64, 186, 255, 0.5);

	-fx-text-fill: rgba(218, 218, 218, 0.7);
}
.button-tab-on {
	-fx-background-color: rgba(64, 186, 255, 0.6);
	-fx-background-radius: 20px;
	-fx-text-fill: rgba(218, 218, 218, 0.5);
	-fx-font-size: 12px;
}

.label {
	-fx-text-fill: #7f8796;
	-fx-font-size: 16px;
}

.text-header {
	-fx-text-fill: #7f8796;
	-fx-font-size: 20px;
}

.error {
	-fx-text-fill: #f46d6d;
	-fx-font-size: 16px;
}

.success {
	-fx-text-fill: #6df4b3;
	-fx-font-size: 16px;
}

.table-view {
	-fx-background-color: transparent;
}

.table-view .table-cell {
	-fx-border-color: transparent;
	-fx-padding: 12px 8px 12px 8px;
	-fx-font-size: 14px;
}

.table-view .table-row-cell {
	-fx-control-inner-background: #2f3136;
	-fx-control-inner-background-alt: #2a2c32;
	-fx-background-insets: 0, 0 0 0 0;
}
.table-row-cell .text {
	-fx-fill: #7f8796;
}

.table-view .table-row-cell:selected {
	-fx-background-color: #7f8796;
}
.table-row-cell:selected .text {
	-fx-fill: #2f3136;
}

.table-view .column-header-background {
	-fx-background-color: #2a2c32;
	-fx-background-radius: 4px 4px 0px 0px;
	-fx-padding: 5px 0 5px 0;
}

.table-view .column-header {
	-fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
	-fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
	-fx-background-color: #7f8796;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
	-fx-background-color: #7f8796;
}
.date-picker {
	-fx-background-color: rgba(127, 135, 150, 0.5);
}
.date-picker .text-field {
	-fx-background-color: #7f8796;
	-fx-font-size: 16px;
}
.date-picker .arrow-button {
	-fx-background-color: rgba(127, 135, 150, 0.5);
}

.date-picker .arrow-button .arrow {
	-fx-background-color: rgba(255, 255, 255, 0.8);
}

.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
}
